@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/* 
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img {

    height: 72px;
    border-radius: 50%;

}

.cabecalho-img:hover {
    -ms-transform: scale(1.6);
    /* IE 9 */
    -webkit-transform: scale(1.6);
    /* Safari 3-8 */
    transform: scale(1.6);
    transition: 1.25s;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}

.sub-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.butao {
    height: 60px;
    width: 180px;
    background-color: #ecd6c4;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325
}

.butao a {
    color: #2F2325;
}

.butao:hover {
    background-color: rgba(236, 214, 196, 0.56);
    color: white;
}

button:hover {
    background-color: violet;
    cursor: pointer;
    transition: 1s;
}

.imagem {
    height: 400px;
    padding: 20px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.titulo-2 {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff2ef;
    margin-bottom: 16px;

}

.secundario-paragrafo {
    font-family: 'sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.roda-ze {
    text-align: center;
    display: block;
    color: #ECD6C4;
}

.ze1 {
    font-size: 44px;
    font-family: 'sarala', sans-serif;
    font-weight: 500;
    color: rgb(236, 214, 196);
}

.zefn {
    font-size: 24px;
}

/* efeito button */

button:hover {
    animation-name: botao;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 50px 20px rgba(255, 166, 0, 0.5);

}

@keyframes botao {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}



/* Efeito de neon */
/* .titulo */
.ze1 {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.roda-ze:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
}

@media screen and (max-width: 600px) {

    .onteudo-principal {
        position: relative;
    }

    .imagem {
        position: absolute;
        display: flex;
        margin-top: 10px;
        bottom: 10px;
    }

    .sub-titulo {
        top: 40px;
        display: flex;
        color: #fff2e7;
        font-size: 20px;
        text-align: center;

    }
}